<h1>Contactanos</h1>
<form action="Sugerencias/crearSugerencia" method="post">
<div class="row">
    <div class="col-sm-9">
        <p>Escribe una sugerencia</p>
        <label>Asunto</label>
        <br>
        <input name="Asunto"> </input>
        <br>
        <label>
            <br>Contenido </label>
        <br>
        <textarea name="contenido" rows="10" cols="100">Escribe aquí tus comentarios</textarea>
        <br> </div>
    <div class="col-sm-3"> <a href="/contactanos" class="btn btn-block btn-success">Crear sugerencia</a> </div>
</div>
<br>
</form>