<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="contenido">
                <label>Asunto</label>
                <br>
                <input id="Asunto"> </input>
                <br>
                <label>
                    <br>Contenido </label>
                <br>
                <textarea name="comentarios" rows="10" cols="100">Escribe aquí tus comentarios</textarea>
                <br>
                <button type="button" onclick="myFunction()">enviar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4"> </div>
    </div>
</div>