<form class="fondotercero">
    <label class="control-label col-sm-2" for="email">Usuario</label>

    <input type="email" class="form-control" id="email" placeholder="Ingrese el usuario">


    < <label class="control-label col-sm-2" for="pwd">Contrase単a:</label>

        <input type="password" class="form-control" id="pwd" placeholder="Ingrese la contrase単a">
        <label class="control-label col-sm-2" for="pwd">Comfirmar Contrase単a:</label>

        <input type="password" class="form-control" id="pwd" placeholder="Vuelva a escribir la contrase単a">
        <div class="form-group">
            <label for="sel1">Conjunto Habitacional</label>
            <select class="form-control" id="sel1">
                <option>conjunto 1</option>
                <option>conjunto 2</option>
                <option>conjunto 3</option>
                <option>conjunto 4</option>
            </select>
        </div>


        <div class="form-group">

            <div class="form-group">
                <label for="sel1">Casa #:</label>
                <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>



            <button type="submit" class="btn btn-default">Registrar</button>

        </div>

</form>